<div class="row">
    <div class="col-md">
        {{if .PrevInSection}}
        <a href="{{.PrevInSection.RelPermalink}}">
            <span>{{ T "previous" }}: </span>
            <span>{{.PrevInSection.Title}}</span>
        </a>
        {{end}}
    </div>
    <div class="col-md text-md-end">
        {{if .NextInSection}}
        <a href="{{.NextInSection.RelPermalink}}">
            <span>{{ T "next" }}: </span>
            <span>{{.NextInSection.Title}}</span>
        </a>
        {{end}}
    </div>
</div>